.meat{
    border: 1px solid gray;
    display: flex;
}
.meat_info{
    border: 1px solid red;
}

.meat_code{
    border: 1px solid gray;
}
.meat_img > img{
    border: 1px solid gray;
    width: 300px;
}

